/* #region base reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

body {
  margin: 0;
}
/* #endregion */

/*  */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.bg-navyblue {
  background: #2e2f42;
}
.bg-cloud {
  background: #f4f4fd;
}

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

  padding: 24px 0;
}
.header * {
}
.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header-item {
}
.header-item-a {
  font-weight: 500;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pseudo-focus {
  color: #404bbf;
}
.pseudo-focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;

  position: absolute;
  bottom: calc(0px - 1px - 24px);
  left: 0;
  bottom: -1px;
}

.header-item-a:hover,
.header-item-a:focus {
  color: #404bbf;
}
.header-item-a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;

  position: absolute;
  bottom: calc(0px - 1px - 24px);
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.address-item-a {
  font-style: normal;

  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item-a:hover,
.address-item-a:focus {
  color: #404bbf;
}
/* #endregion */

/* #region order-service */
.order-service {
  padding: 188px 0;
}

.order-service-heading {
  margin: 0 auto;

  font-weight: 700;
  font-size: 56px;

  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 496px;
}

.order-service-button {
  margin: 0 auto;
  margin-top: 24px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;

  font-weight: 500;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 16px 32px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Qualities */
.qualities {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.qualities-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.qualities-item {
  width: calc((100% - 72px) / 4);

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.qualities-item-icon-div {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.qualities-item-icon-svg {
  display: block;
  width: 64px;
  height: 64px;
  fill: none;
}
.qualities-item-heading {
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.qualities-item-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region our-team */

.our-team {
  padding: 120px 0;
}
.our-team-heading {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  text-transform: capitalize;
}
.our-team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.our-team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.our-team-item-img {
}
.our-team-item-heading {
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-item-list-messengers {
  display: flex;
  gap: 24px;
}

.item-messenger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.item-messenger-svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
/* #endregion */

/* #region Our Portfolio */
.our-portfolio {
  padding: 120px 0;
}
.our-portfolio-heading {
  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.our-portfolio-items {
  width: calc((100% - 48px) / 3);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.div-portfolio {
  width: 100%;

  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-items-img {
}

.div-team {
  padding: 32px 0;
}
.our-portfolio-items-heading {
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-items-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region footer */

.footer {
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 264px;
}

/* #endregion */
